@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.footer{
    padding: 70px 70px;
    display: flex;
    background: black;
    color: white;
    flex-direction: row;
    /* box-shadow: 0px -50px 500px 50px rgb(29, 29, 29); */
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}
.footertabs{
    text-align: center;
}
.quote{
    /* background-color: rgba(0, 0, 0, 0.953); */
    text-align: center;
    padding: 0px 0px 50px;
    font-family: 'Shadows Into Light', cursive;
    font-size: xx-large;
    color: rgb(255, 0, 0);
}
.footertabsh2{
    font-size: xx-large;
    margin: 10px 0px;
    font-weight: 600;
}
.footertabsh3{
    font-size: medium;
    font-weight: 400;
}
.contact{
    text-decoration: underline;
    font-weight: 500;
    font-size: medium;
}

.contacth2{
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    margin: 10px 0px;
}

@media only screen and (max-width: 1210px){
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footertabs{
        margin: 20px 0px;
    }
    .footertabsh2{
        font-size: x-large;
    }
    .footertabsh3{
        font-size: small;
    }
    .contacth2{
        font-size: small;
    }
    .contact{
        font-size: medium;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
    }
}