@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.NavBar{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 35px 50px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.234);
    /* box-shadow: -15px 0px 83px 14px rgba(255, 255, 255, 0.444); */
}

.nav{
    position: relative;
}
.MobileNav{
    display: none;
}
.NavBarLogo p{
    font-size: x-large;
    font-weight: 600;
    /* line-height: 120px; */
    /* background-color: aqua; */
    /* top: 0;
    left: 0%;
    padding: 0px 50px; */
    /* position: fixed; */
    font-family: 'Poppins', sans-serif;
}

.NavBarTabs{
    display: flex;
    flex-direction: row;
}

.linkFound{
    text-decoration: none;
}

.NavLink{

    text-decoration: none;
    color: rgb(255, 255, 255);

}

.NavBarTabsLinks{
    font-family: 'Poppins', sans-serif;
    padding: 0px 12px;
    transition: text-decorationll .5s;
    font-size: medium;
    font-weight: 500;
    /* text-decoration: none red; */
}

.NavBarTabsLinks:hover{
    cursor: pointer;
}
.navBarForMobile{
    display: none;
}

@media only screen and (max-width: 1000px){
    .NavBarLogo p{
        font-size: larger;
        font-family: 'Poppins', sans-serif;
    }
    .NavBarTabs{
        display: none;
    }
}

@media only screen and (max-width: 450px){
    .MobileNav{
        width: 100%;
        position:absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 30px;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.308);
    }

    .NavLinkMobileBar{
        color: white;
        transform: rotate(90deg);
        font-size: large;
    }

    .NavBar{
        display: none;
    }

    .NavLinkMobile{
        color: white;
        font-size: large;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }
    .MobileCloseBar{
        text-align: right;
        font-size: x-large;
        padding: 25px;
        font-family: "Poppins", sans-serif;
        color: black;
    }
    .HeadHeadForMobilebar{
        font-size: x-large;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
    .navBarForMobile{
        z-index: 100;
        transition: all .5s;
        display: block;
        transition: 'all .5s';
        position: fixed;
        width: 100%;
        background: white;
        color: black;
    }
    .NavLinkMobileLink{ 
        color: black;
        font-size: large;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-bottom: 20px;
    }
}