@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.NavBar{
    width: 100%;
    position: fixed ;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* color: rgb(255, 255, 255); */
    padding: 35px 50px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 83px 14px rgba(0, 0, 0, 0.444); */
}

.nav{
    position: relative;
    z-index: 1;
}
.MobileNav{
    display: none;
}

.NavBarLogo p{
    transition: .3s ease-in-out .8s;
    
    /* font-size: 1.4rem; */
    font-weight: 600;
    /* line-height: 120px; */
    /* background-color: aqua; */
    /* top: 0;
    left: 0%;
    padding: 0px 50px; */
    /* position: fixed; */
    /* letter-spacing: 1.5px; */
    font-family: 'Bebas Neue', sans-serif;
}

.NavBarLogoforService{
    transition: all .5s ease-in-out .0s;
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    font-weight: bolder;
    font-size: 3.5rem;
    text-align: center;
}
.NavBarTabs{
    display: flex;
    flex-direction: row;
}

.linkFound{
    text-decoration: none;
}

.NavLink{
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.NavBarTabsLinks{
    font-family: 'Poppins', sans-serif;
    padding: 0px 12px;
    transition: text-decorationll .5s;
    font-size: medium;
    font-weight: 500;
    transition: all .4s;
    /* text-decoration: none red; */
}

.NavBarTabsLinks:hover{
    cursor: pointer;
}
.navBarForMobile{
    display: none;
}

@media only screen and (max-width: 1000px){
    .NavBarLogo p{
        font-size: larger;
        font-family: 'Bebas Neue', sans-serif;
    }
    .NavBarTabs{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    .MobileNav{
        width: -webkit-fill-available;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 25px 30px;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
    }

    .NavBar{
        display: none;
    }

    .NavLinkMobileBar{
        color: rgb(0, 0, 0);
        transform: rotate(90deg);
        cursor: pointer;
        letter-spacing: 0px;
        font-size: medium;
    }
    .ptransition{
        transition: all .5s;
    }
    .NavBar{
        display: none;
    }

    .NavLinkMobile{
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: 'Bebas Neue', sans-serif;
        text-align: center;
    }
    .MobileCloseBar{
        transition: all .1s;
        text-align: right;
        font-size: x-large;
        padding: 25px 35px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        color: black;
    }
    
    .HeadHeadForMobilebar{
        transition: all .3s, .6s;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
    }
    .navBarForMobile{
        z-index: 100;
        display: block;
        transition: all .6s;
        position: fixed;
        width: 100%;
        background: white;
        color: black;
    }
    .NavLinkMobileLink{ 
        color: black;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-bottom: 20px;
    }
    .navBarForMobileLinks{
        transition: all .3s;
    }
}