.FirstAboutUs{
    height: 110vh;
    /* width: 100%; */
    position: relative;
}

.FirstAboutUsImg{
    position: absolute;
    height: 110vh;
    width: 100%;
    object-fit: cover;
}

.FirstAboutUsContent{
    position: relative;
    height: 110vh;
    /* background-color: rgba(42, 42, 42, 0.516); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.FirstAboutUsContentInHead{
    color: whitesmoke;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
}

.FirstAboutUsContentInpara{
    color: aliceblue;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.FirstAboutUsContentInHeadbtn{
    width: max-content;
    margin: 0px auto;
    padding: 12px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size:small;
    color: whitesmoke;
    background-color: red;
    outline: none;
    border: none;
    border-radius: 20px;
}
@media only screen and (max-width: 450px){
    .FirstAboutUsContentInHead{
        font-size: 2rem;
    }
    .FirstAboutUsContentInHeadbtn{
        font-size: x-small;
        padding: 8px 20px;
    }
}