.SlidingText{
    color: rgb(255, 255, 255);
    width: max-content;
    position: absolute;
    top: 50%;
    left: 13%;
    font-style: italic;
    font-family: 'Bebas Neue', sans-serif;
    animation: 2s ease-in-out 0s none alternate sun-rise;
}

.SlidingTextHeading{
    font-size: xx-large;
}

.Bold{
    font-weight: 600;
    letter-spacing: 1px;
    transition: .4s;
    font-size: 3rem;
}

.SlidingTextPara1{
    transition: .4s;
    cursor:context-menu;
    font-size: 3rem;
}
.SlidingTextPara2{
    cursor:context-menu;
    transition: .4s;
    font-size: 3rem;
}

.SlidingTextPara1:hover .Bold{
    font-size: 3.4rem;
}
.SlidingTextPara2:hover{
    font-size: 3.4rem;
}
@keyframes sun-rise{
    from{
        left: 0%;
            opacity: 0;
    }

    to{
        left: 13%;
        opacity: 1;
    }
}
@media only screen and (max-width: 1000px){

    .SlidingText{
        left: 13%;
    }


    .Bold{
         font-size: 2rem;
    }

    .SlidingTextPara1{
        font-size: 2rem;
    }
    .SlidingTextPara2{
        font-size: 2rem;
    }
    .SlidingTextPara1:hover .Bold{
        font-size: 2rem;
    }
    /* .SlidingTextPara1:hover{
        font-size: 2rem;
    } */
    .SlidingTextPara2:hover{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 500px){
    @keyframes sun-rise{
        from{
            left: 0%;
            opacity: 0;
        }
    
        to{
            left: 5%;
            opacity: 1;
        }
    }

    .SlidingText{
        /* font-size: 0.5rem; */
        left: 5%;
    }

    .SlidingTextHeading{
        font-size: small;
    }

    .Bold{
        font-size: 1.8rem;
    }

    .SlidingTextPara1{
        font-size: 1.6rem;
    }
    .SlidingTextPara2{
        font-size: 1.6rem;
    }
    .SlidingTextPara1:hover .Bold{
        font-size: 2rem;
    }
    .SlidingTextPara1:hover{
        font-size: 1.8rem;
    }
    .SlidingTextPara2:hover{
        font-size: 1.8rem;
    }
}
